<div class="bag__toggle">
    <input type="checkbox" />
    <span class="bag__content">
        <img class="bag__shopping" src="/sources/icons/Shopping-cart - Icon.svg" alt="Shopping Cart Icon">
        <p class="bag__total"></p>
    </span>
    <ul class="bag__links">
        <li>Your bag</li>
        <article class="bag__items"></article>
        <li>Subtotal</li>
        <hr>
        <p class="bag__subtotal"></p>
    </ul>
</div>