<div id='content'>
    <button id='synthA'>
        Synth A
    </button>
    <button id='synthB'>
        Synth B
    </button>

    <script src="/scripts/addons/Tone.js"></script>
    <script src="/scripts/canvas.js"></script>
</div>