<form class="form" action="/store" method="GET">
    <h1>Select by</h1>
    <input class="product__filterType" type="text" name="product__filterType" placeholder="Artist, Year or Price...">
    <input class="product__filterValue" type="text" name="product__filterValue" placeholder="Find it">
    <button type="submit">Filter</button>
</form>