 <footer class="footer--store">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Jobs</a></li>
        </ul>

        <ul>
            <li><a href="#"><img src="/sources/icons/Facebook-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="/sources/icons/Twitter-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="/sources/icons/Soundcloud-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="/sources/icons/Spotify-pink - Icon.svg" alt=""></a></li>
        </ul>
    </footer>