<nav class="menu">
    <img class="menu__logo" src="./sources/icons/Vnyl - Logo.svg" alt="Vnyl Logo">
    <div class="menu__toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu__links">
            <a href="#">
                <li><a href="/shop">Shop</a></li>
            </a>
            <a href="#">
                <li><a href="/about">About</a></li>
            </a>
            <a href="#">
                <li><a href="/music">Music</a></li>
            </a>
            <a href="#">
                <li><a href="/contact">Contact</a></li>
            </a>
        </ul>
    </div>
</nav>