<nav class="menu--store">
    <a href="/"><img class="menu--store__logo" src="/sources/icons/Vnyl-pink - Logo.svg" alt="Vnyl Logo"></a>
    <div class="menu--store__toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu--store__links">
            <li><a href="/store">Store</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>