<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vinyl | Shop</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
</head>

<body>
    <nav class="menu--shop">
        <img class="menu--shop__logo" src="./sources/icons/Vnyl-pink - Logo.svg" alt="Vnyl Logo">
        <div class="menu--shop__toggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="menu--shop__links">
                <a href="#"><li><a href="/shop">Shop</a></li></a>
                <a href="#"><li><a href="/about">About</a></li></a>
                <a href="#"><li><a href="/music">Music</a></li></a>
                <a href="#"><li><a href="/contact">Contact</a></li></a>
            </ul>
        </div>
    </nav>

    <footer class="footer--shop">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Jobs</a></li>
        </ul>

        <ul>
            <li><a href="#"><img src="./sources/icons/Facebook-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="./sources/icons/Twitter-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="./sources/icons/Soundcloud-pink - Icon.svg" alt=""></a></li>
            <li><a href="#"><img src="./sources/icons/Spotify-pink - Icon.svg" alt=""></a></li>
        </ul>
    </footer>
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>