<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vnyl | Store</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
</head>

<body>
    {{>menu--store}}

    <section class="products">
        <section class="products__content">
            {{>products}}
        </section>
    </section>

    {{>footer--store}}
</body>

</html>