.product {
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 50px;
    .product-chunk {
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: row;
        flex-direction: row;
        flex-wrap: wrap;
        &__left {
            width: 50%;
            left: 0;
            display: flex;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            overflow: hidden;
            overflow-y: hidden;
        }
        &__right {
            width: 50%;
            right: 0;
            display: flex;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            overflow: hidden;
            overflow-y: hidden;
        }
    }
    &__img{
        margin-bottom: 15px;
    }
    &__cover {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translate(35px);
        transition: .5s ease-in-out;
    }
    &__LP {
        width: 50%;
        height: auto;
        position: absolute;
        z-index: -5;
        top: 19%;
        left: 0;
        transition: .5s ease-in-out;
    }
    &__cover:hover {
        transform: translate(-20px);
        transition: .5s ease-in-out;
    }
}